
<div class="row">
    <div class="col s12"><div class="card red accent-2">
    <div class="card-content">
      <p>There’s a lot of technologies to choose from nowadays. We know a lot of them and our list is increasing.<br>

We believe the most important thing for a software, web and mobile development company is to be able to choose and recommend the right technology mix for the project or product you want to develop. Our approach is project-centric and not technology-centric, we will always find the best technology mix to blend in our services for your software project, web project, mobile project or hybrid project.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Web Development</a></li>
        <li class="tab"><a class="active" href="#test5">E-publishing E-Learning</a></li>
        <li class="tab"><a href="#test6">Consultancy</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4"><ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Front End</div>
      <div class="collapsible-body"><span>HTML, CSS, Angular1.x, Angular2.x, Javascript, Bootstrap, MaterializeCSS</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Back End
</div>
      <div class="collapsible-body"><span>Ruby</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Database</div>
      <div class="collapsible-body"><span>Postgresql, Sqlite, Mongodb, Oracle</span></div>
    </li>
  </ul></div>
      <div id="test5"><ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Branding and strategic thinking</div>
      <div class="collapsible-body"><span>When others focus on just graphic design, we look at your brand’s overall persona and device ways in which the website design can accentuate it online. Our strategy team plays an important role in planning and devising a communication strategy for your website.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Creative web designing
</div>
      <div class="collapsible-body"><span>All our web design projects are directly handled by the senior creative team. The team includes the Art Director, Creative Director and Copywriter – all of whom have over 15 years of expertise in building world-class websites.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Coding and Technology</div>
      <div class="collapsible-body"><span>Our software developers are updated with the latest coding standards and technology innovations in the desktop and mobile medium. This helps us build websites that are highly engaging, secure and in par with the best in the world..</span></div>
    </li>
  </ul></div>
      <div id="test6"><ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Branding and strategic thinking</div>
      <div class="collapsible-body"><span>When others focus on just graphic design, we look at your brand’s overall persona and device ways in which the website design can accentuate it online. Our strategy team plays an important role in planning and devising a communication strategy for your website.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Creative web designing
</div>
      <div class="collapsible-body"><span>All our web design projects are directly handled by the senior creative team. The team includes the Art Director, Creative Director and Copywriter – all of whom have over 15 years of expertise in building world-class websites.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Coding and Technology</div>
      <div class="collapsible-body"><span>Our software developers are updated with the latest coding standards and technology innovations in the desktop and mobile medium. This helps us build websites that are highly engaging, secure and in par with the best in the world..</span></div>
    </li>
  </ul></div>
    </div>
  </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card">
            <div class="card-image materialboxed">
              <img src="assets/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div></div>
  </div>


<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Publishing</th>
      <th>Software products</th>
      <th>Training</th>
      <th>Clients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.publishing %></td>
        <td><%= service.software_products %></td>
        <td><%= service.training %></td>
        <td><%= service.clients %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
