<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contactu.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contactu.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contactu.email_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @contactu.comments %>
</p>

<%= link_to 'Edit', edit_contactu_path(@contactu) %> |
<%= link_to 'Back', contactus_path %>
