<p id="notice"><%= notice %></p>

<h1>Aboutus</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aboutus.each do |aboutu| %>
      <tr>
        <td><%= aboutu.address %></td>
        <td><%= aboutu.city %></td>
        <td><%= aboutu.state %></td>
        <td><%= aboutu.country %></td>
        <td><%= aboutu.phone %></td>
        <td><%= link_to 'Show', aboutu %></td>
        <td><%= link_to 'Edit', edit_aboutu_path(aboutu) %></td>
        <td><%= link_to 'Destroy', aboutu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aboutu', new_aboutu_path %>
