
  <div class="row">
    <div class="col s12 m6 l3"><div class="card red darken-1">
            <div class="card-content white-text">
              <span class="card-title">About us</span>
              <p>GA solutions, is relying on a optimal strategy, which propound a propitious milieu for the most renowned service providers in IT Outsourcing, Publishing and E-governance projects and publications. we make websites that succeed and boost revenue. Constantly delivering effective e-commerce designs and solutions that are the back bone of many successful online businesses.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card pink darken-1">
            <div class="card-content white-text">
              <span class="card-title">What we Do</span>
              <p>Since the year of inception, GA solutions proudly boasts to have each of our client’s happy! We indulge in mind-blowing Web Designing and a Development solutions that help your business succeed online, increasing sales, profits, and overall ROI.Our trusted and efficient service, gives us an extra edge over our competitors.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div></div>
    <div class="col s12 m6 l3"><div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Our Development Area</span>
              <p>We are proud to claim ourselves as a professional full service website services company positioned in Chennai, India. We have been recognized as one of the best website design & e-commerce web design, web development, & web application developers in the industry.We have the skills and capacity to work with you to meet your requirements.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div></div>
      <div class="col s12 m6 l3"><div class="card amber lighten-1 darken-1">
            <div class="card-content white-text">
              <span class="card-title">Technical skills</span>
              <p> Ruby Portal Development, Website redesign, e-commerce website development, CMS based website development, brochure design, PSD to XHTML conversion, web application services, Mobile application development services and Digital marketing services for reasonable rates in Karaikudi</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div></div>
  </div>


<p id="notice"><%= notice %></p>

<h1>Aboutus</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aboutus.each do |aboutu| %>
      <tr>
        <td><%= aboutu.address %></td>
        <td><%= aboutu.city %></td>
        <td><%= aboutu.state %></td>
        <td><%= aboutu.country %></td>
        <td><%= aboutu.phone %></td>
        <td><%= link_to 'Show', aboutu %></td>
        <td><%= link_to 'Edit', edit_aboutu_path(aboutu) %></td>
        <td><%= link_to 'Destroy', aboutu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aboutu', new_aboutu_path %>
