<!DOCTYPE html>
<html>
  <head>
    <title>Gasol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  		<%= render 'layouts/navbar' %>

  
  	<% if user_signed_in? %>
  	<p>Hello, <%= current_user.email %>- <%= link_to "sign_out", destroy_user_session_path, :method => 'delete' %><br>
  		<% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>

  <script>
  $(".button-collapse").sideNav();
  $(document).ready(function(){
      $('.carousel').carousel();
    });
   $(document).ready(function(){
    $('.collapsible').collapsible();
  });
   $(document).ready(function(){
      $('.slider').slider();
    });
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
       
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  </script>
  </body>
</html>
